/* Make the page use Flexbox layout */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of screen height */
  margin: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
}

/* Main should be a horizontal row */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

footer {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Article takes 2/3 of the space */
article {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

/* Aside takes 1/3 of the space */
aside {
  background-color: #eee;
  padding: 20px;
}

/* Simple styles for header and footer */
header,
